<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <p>The Web Portal where you will able to create your own games!</p>
	<a href="/quizes/question">Start to play</a>
  </body>
</html>
