<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div id="page-wrap">
		<header class="main" id="h1">
		<h2>Quiz: The Question game</h2>
		</header>
		
		<nav>
			<span><a href="/">Home</a></span>
			<span><a href="/quizes/question">Questions</a></span>
		</nav>
		
		<section class="main" id"s1">
			<%- body %>
		</section>
		
		<footer class="mani" id="f1">
			<a href="https://en.wikipedia.org/wiki/Quiz">What's Quiz?</a>	
		</footer>				
	</div>
  </body>
</html>