<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
	<link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
  </head>
  
  <head>

</head> 
  
  <body>
	<div id="page-wrap">
		<header class="main" id="h1">
		<h2>Quiz: The Question game</h2>
		</header>
		
		<nav class="main" id="n1" role="navigation">
			<span><a href="/">Home</a></span>
			<span><a href="/quizes">Questions</a></span>
			<span><a href="/author">Author</a></span>
		</nav>
		
		<section class="main" id"s1">
			<% if (locals.errors) { %>
				<% if (errors.length) { %>
				  <span id='ErrorMsgs'>
					Corregir errores:<br/>
					<% for (var i in errors) { %>
					   <span> <%= errors[i].message %> </span><br/>
					<% } %>
				  </span>
				<% } %>
			<% } %>
		
			<%- body %>
		</section>
		
		<footer class="mani" id="f1">
			<a href="https://en.wikipedia.org/wiki/Quiz">What's Quiz?</a>	
			<a href="https://github.com/JordiAlvarez1/quiz">GitHub Quiz URL</a>	
		</footer>				
	</div>
  </body>
</html>